<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />

    <!-- header -->
    <header class="header">
      <div class="header__navigation">
        <div class="nav-item" tabindex="0">
          <a class="nav-item__control">
            <span class="nav-item__text">Про нас</span>
            <span class="nav-item__icon">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1L4.82322 4.82322C4.92085 4.92085 5.07915 4.92085 5.17678 4.82322L9 1"
                  stroke="#9747FF"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
              </svg>
            </span>
          </a>
          <div class="nav-item__dropdown">
            <ul>
              <li>
                <a href="#">про академію</a>
              </li>
              <li>
                <a href="#">політика конфіденційності</a>
              </li>
              <li>
                <a href="#">оферта</a>
              </li>
              <li>
                <a href="#">оплата та доставка</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-item__control">
            <span class="nav-item__text">Ціни</span>
          </a>
        </div>
      </div>

      <a href="#" class="button button--header button--header-bottom-radius">
        <span class="button__icon" data-icon="user"></span>
        Вхід</a
      >
      <div class="header__corner-button">
        <a href="#" class="button button--header button--header-corner">
          РЕЄстрація
        </a>
      </div>
    </header>
    <!-- END. header -->

    <script src="./js/helpers.js"></script>
  </body>
</html>
