<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />

    <div style="width: calc(var(--sidebar-width) * 1.5)">
      <!-- sidebar-button -->
      <a class="sidebar-button">
        <span class="sidebar-button__icon" data-icon="saved"></span>
        <span class="sidebar-button__text">
          <span class="sidebar-button__count">22</span>
          Збережені
        </span>
      </a>
      <!-- END. sidebar-button -->
      <!-- sidebar-button -->
      <a class="sidebar-button">
        <span class="sidebar-button__icon" data-icon="paw"></span>
        <span class="sidebar-button__text">Завершені</span>
      </a>
      <!-- END. sidebar-button -->
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
