.l-layout {
  display: flex;
}

.l-layout--fixed-header .l-layout__header {
  position: fixed;
  right: 0;
  left: var(--sidebar-width);
  height: var(--header-height);
  z-index: 100;
  background-color: white;
}

.l-layout--fixed-header .l-layout__content {
  padding-top: var(--header-height);
}

.l-layout__main {
  flex-grow: 1;
  padding-left: var(--sidebar-width);
}

.l-layout__sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
}

.l-layout__header {
}

.l-layout__content {
}
