.logo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--secondary-color);
  font-weight: bold;
  padding-left: 5px;
  padding-right: 10px;
  width: 100%;
  height: var(--header-height);
  color: var(--primary-color-hover);
}

.logo:hover {
  background-color: var(--secondary-color-hover);
}

.logo:active {
  box-shadow: var(--button-active-shadow);
}

.logo__image svg {
  width: 60px;
  height: auto;
}

.logo__text {
  margin-left: 10px;
}