:root {
  --primary-color: #9747FF;
  --primary-color-hover: #520096;
  --primary-color-disable: #C7B4D8;

  --transparent-hover: rgba(0, 0, 0, 0.05);

  --secondary-color: #FFBB61;
  --secondary-color-hover: #f9ab45;

  --secondary-color-dark: #EA8512;

  --border-color: #CAE0EE;

  --background-color: #EAF6FD;
  --background-color-light: #F8FCFE;

  --button-active-shadow: inset 0px 0px 6px #FFFFFF;

  --danger-color: #EF5E43;

  --sidebar-width: 230px;
  --header-height: 70px;

  --box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

body, button {
  font-family: "Exo 2", sans-serif;
  font-size: 17px;
  color: var(--primary-color-hover);
}