.payment {
  display: grid;
  grid-template-columns: 360px auto;
}

.payment__tariff-card {
    width: 360px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    margin-bottom: 35px;
}

.payment__tariff-card-image {
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.payment__column--main {
    padding-left: 60px;
}

.payment__tariff-card-body {
    padding: 20px;
}

.payment__tariff-card-text {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.payment__tariff-card-text:last-child {
    margin-bottom: 0;
}

.payment__h2-wrapper {
    padding-bottom: 25px;
}

.payment__h3-wrapper {
    padding-bottom: 20px;
}

.payment__separator {
    margin-top: 30px;
    margin-bottom: 30px;
}

.payment__info-group {
    margin-bottom: 20px;
}

.payment__info-title {
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: 0;
}

.payment__info-value {
    margin-bottom: 0;
}

.payment__info-value span:first-child {
    margin-right: 10px;
}

.payment__description {
    padding-left: 5px;
}