<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />
    <div data-doc-component="getProgress">
      <h1>progress</h1>
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getProgress" 
      data-progress="70"
      data-titleleft="Курс завершено"
      data-titleright="30%"
    ></div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
