<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />
    <div data-doc-component="getSectionList">
      <h1>section-list</h1>
    </div>

    <div data-decorator="doc"></div>

    <div 
      data-component="getSectionList"
      data-title="Популярні уроки"
      data-description="Ми за чесні відносини. Коли дні в твоєму тарифному плані закінчаться, ти зможеш
      продовжити свій тарифний план, коли захочеш, хоч через рік."

      data-list1-component1="getLessonCard"
      data-list1-title1="Створюємо просту web-сторінку"
      data-list1-image1="./img/content-lesson-card.jpg"
      data-list1-href1="./pages/one-lesson/one-lesson.html"

      data-list1-component2="getLessonCard"
      data-list1-title2="Завантажуємо редактор коду"
      data-list1-image2="./img/content-lesson-card.jpg"
      data-list1-href2="./pages/one-lesson/one-lesson.html"

      data-list1-component3="getLessonCard"
      data-list1-title3="Запускаємо проект HI-EDDY"
      data-list1-image3="./img/content-lesson-card.jpg"
      data-list1-href3="./pages/one-lesson/one-lesson.html"
    >
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
