.section-list {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-list__title {
  padding-left: var(--padding-left);
  margin-bottom: 30px;
}

.section-list__description {
  padding-left: var(--padding-left);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  max-width: 900px;
  margin-bottom: 30px;
}

.section-list__items {
  display: flex;
  flex-wrap: wrap;
}

.section-list__item {
  width: 33.33333%;
  padding: 15px;
}