<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />
    <div data-doc-component="getFaq">
      <h1>faq</h1>
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getFaq"
      data-list1-question1="Оплата знімається автоматично кожний місяць?"
      data-list1-answer1="Ні, оплата знімається один раз при оплаті тарифного плану. 
        Після закінчення тарифного плану ви зможете самостійно його продовжити або вибрати інший тарифний план."
      data-list1-question2="Оплата знімається автоматично кожний рік?"
      data-list1-answer2="Ні, оплата знімається один раз при оплаті тарифного плану. 
        Після закінчення тарифного плану ви зможете самостійно його продовжити або вибрати інший тарифний план."
      ></div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
