.input {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  color: var(--primary-color);
}

.input__input-field {
  border: 2px solid var(--border-color);
  height: 50px;
  border-radius: 10px;
  width: 100%;
  color: var(--primary-color-hover);
  padding-left: 10px;
}

.input__input-field:disabled {
  color: var(--primary-color);
  border: 2px solid var(--background-color);
}

.input__label {
  margin-bottom: 8px;
  text-align: left;
}