.checkbox {
  
}

.checkbox__main {
  display: flex;
}

.checkbox__input {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.checkbox__title {
  margin-left: 10px;
  margin-top: 4px;
  display: inline-block;
}

.checkbox__error {
  font-size: 15px;
  color: var(--danger-color);
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
}