<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>button</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <div data-doc-component="getButton">
      <h1>button</h1>
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Усі можливі модифікатори"
      data-iconleft="ua-flag"
      data-iconleftclasses="button__icon--dark"
      data-iconright="user"
      data-iconrightclasses="button__icon--light"
      data-tag="a"
      data-href="./index.html"
      data-classes="
        button--bordered 
        button--fullwidth 
        button--font-medium
        button--border-radius 
        button--header 
        button--header-corner
      "
      data-disabled="true"
    >
    </div>

    <div data-decorator="doc"></div>
    <div data-component="getButton"></div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Звичайна кнопка"
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Кнопка-посилання"
      data-tag="a"
      data-href="#"
      data-classes="button--border-radius"
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Допомога ЗСУ"
      data-iconleft="ua-flag"
      data-tag="a"
      data-classes="button--bordered button--fullwidth button--border-radius"
      data-href="./index.html"
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Вхід"
      data-iconleft="user"
      data-iconleftclasses="button__icon--light"
      data-tag="a"
      data-classes="button--header button--header-bottom-radius"
      data-href="./pages/login.html"
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Рeєстрація"
      data-tag="a"
      data-classes="button--header button--header-corner"
      data-href="./pages/registration.html"
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Рeєстрація"
      data-tag="a"
      data-classes="button--header button--header-corner"
      data-href="./pages/registration.html"
      data-disabled="true"
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getButton"
      data-title="Активувати"
      data-classes="button--border-radius button--font-medium"
    >
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
