<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />

    <div>
      <!-- button -->
      <a href="#" class="button">РЕЄстрація</a>
      <!-- END. button -->
    </div>

    <br />
    <div style="width: 400px">
      <!-- button -->
      <a
        href="#"
        class="button button--bordered button--fullwidth button--border-radius"
      >
        <span class="button__icon" data-icon="ua-flag"></span>
        Допомога ЗСУ
      </a>
      <!-- END. button -->
    </div>

    <br />
    <div>
      <!-- button -->
      <a href="#" class="button button--header button--header-bottom-radius">
        <span class="button__icon" data-icon="user"></span>
        Вхід</a
      >
      <!-- END. button -->
    </div>

    <br />
    <div>
      <!-- button -->
      <button class="button button--header button--header-corner">
        РЕЄстрація
      </button>
      <!-- END. button -->
    </div>

    <br />
    <div>
      <!-- button -->
      <button class="button button--header button--header-corner" disabled>
        РЕЄстрація
      </button>
      <!-- END. button -->
    </div>

    <br />
    <div>
      <!-- button -->
      <button class="button button--header button--header-corner is-disabled">
        РЕЄстрація
      </button>
      <!-- END. button -->
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
