.button {
  --radius: 18px;

  background-color: var(--primary-color);
  display: inline-block;
  border: none;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  font-style: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  min-height: 48px;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.button:active {
  box-shadow: var(--button-active-shadow);
}

.button:disabled,
.button.is-disabled {
  background-color: var(--primary-color-disable);
  pointer-events: none;
}

.button--header {
  min-height: 60px;
  text-transform: uppercase;
}

.button--font-medium {
  font-size: 22px;
}

.button--fullwidth {
  width: 100%;
}

.button--border-radius {
  border-radius: 10px;
}

.button--header-corner {
  border-bottom-left-radius: var(--radius);
  min-width: 180px;
}

.button--header-bottom-radius {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.button--bordered {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--border-color);
}

.button--bordered:hover {
  background-color: transparent;
  background-color: var(--transparent-hover);
}

.button--bordered:active {
  box-shadow: var(--button-active-shadow);
}

.button__icon+.button__text,
.button__text+.button__icon {
  margin-left: 10px;
}

.button__icon svg,
.button__icon img {
  width: 20px;
  height: auto;
}

.button__icon--dark svg path {
  stroke: var(--primary-color);
}

.button__icon--light svg path {
  stroke: white;
}