<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-EDDY</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="./components/button/button.css" />
    <link rel="stylesheet" href="components/logo/logo.css" />
    <link rel="stylesheet" href="components/nav-item/nav-item.css" />
    <link
      rel="stylesheet"
      href="components/sidebar-button/sidebar-button.css"
    />
    <link rel="stylesheet" href="components/header/header.css" />
    <link rel="stylesheet" href="components/sidebar/sidebar.css" />
  </head>

  <body>
    <br />
    <div>
      <a href="#" class="button">РЕЄстрація</a>
    </div>

    <br />
    <div style="width: 400px">
      <a
        href="#"
        class="button button--bordered button--fullwidth button--border-radius"
      >
        <span class="button__icon">
          <svg
            width="72"
            height="51"
            viewBox="0 0 72 51"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 4C6 7 25.8 7 41 3C56.2 -1 67.67 1.33 71.5 3V49C66.33 46.67 52.3 43.2 37.5 48C22.7 52.8 6.33 50.67 0 49V4V4Z"
              fill="#E9CE01"
            />
            <path
              d="M41 3C25.8 7 6 7 0 4V26.5C13 30.5 23 30 42 25C57.2 21 68 24 71.5 26V3C67.67 1.33 56.2 -1 41 3Z"
              fill="#357DDE"
            />
          </svg>
        </span>
        Допомога ЗСУ
      </a>
    </div>

    <br />
    <div>
      <a href="#" class="button button--header button--header-bottom-radius">
        <span class="button__icon">
          <svg
            width="22"
            height="25"
            viewBox="0 0 22 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 23.5V21C21 19.6739 20.4732 18.4021 19.5355 17.4645C18.5979 16.5268 17.3261 16 16 16H6C4.67392 16 3.40215 16.5268 2.46447 17.4645C1.52678 18.4021 1 19.6739 1 21V23.5"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11 11C13.7614 11 16 8.76142 16 6C16 3.23858 13.7614 1 11 1C8.23858 1 6 3.23858 6 6C6 8.76142 8.23858 11 11 11Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        Вхід</a
      >
    </div>

    <br />
    <div>
      <button class="button button--header button--header-corner">
        РЕЄстрація
      </button>
    </div>

    <br />
    <div>
      <button class="button button--header button--header-corner" disabled>
        РЕЄстрація
      </button>
    </div>

    <br />
    <div>
      <button class="button button--header button--header-corner is-disabled">
        РЕЄстрація
      </button>
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
