<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />
    <div data-doc-component="getTariffStatus">
      <h1>tariff-status</h1>
    </div>

    <div 
      data-component="getTariffStatus"
      data-text=""
      data-image=""
    >
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getTariffStatus" 
      data-image="./img/10days.png"
      data-text="Вітаємо! Основною перевагою всіх тарифних планів є можливість додавати уроки в «Завершені». Таким чином ви можете відрізняти уроки, з якими ви ознайомились та вивчили, від усіх інших уроків."
    ></div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
