.tariff-status {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  border: 1px solid var(--border-color);
}

.tariff-status__text-wrapper {
  flex-grow: 1;
  padding-right: 20px;
}

.tariff-status__header {
  background-color: var(--background-color);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 30px 20px;
}

.tariff-status__main {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.tariff-status__person-image {
  width: 130px;
}

.tariff-status__image-wrapper {
  width: 160px;
  margin-right: 20px;
}

.tariff-status__image {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  border-radius: 12px;
  padding-bottom: 60%;
  background-position: center;
  background-size: cover;
}

.tariff-status__header-group {
  display: flex;
  margin-top: 20px;
}

.tariff-status__details {
  padding-top: 10px;
}

.tariff-status__details p {
  margin-bottom: 10px;
  font-weight: 600;
}

.tariff-status__details p span {
  font-weight: 100;
}