<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>

    <div style="width: 50%;">
      <div data-doc-component="getPriceCard">
        <h1>price-card</h1>
      </div>

      <div 
        data-component="getPriceCard"
        data-title=""
        data-subtitle=""
        data-image=""
        data-buttontitle=""
        data-href=""
      >
      </div>
    </div>
    

    <div style="width: 50%;">
      <div data-decorator="doc"></div>
      <div
        data-component="getPriceCard"
        data-title="10 днів"
        data-subtitle="Безкоштовно <br>10 діб"
        data-buttontitle="Активувати"
        data-image="./img/10days.png"
      ></div>
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
