<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />

    <div style="width: 348px; padding: 20px">
      <!-- price-card -->
      <div class="price-card">
        <div
          class="price-card__image"
          style="background-image: url('./img/10days.png')"
        ></div>
        <div class="price-card__body">
          <p class="price-card__text price-card__text--title">10 днів</p>
          <p class="price-card__text price-card__text--subtitle">
            Безкоштовно 10 діб
          </p>
          <div class="price-card__button-wrapper">
            <!-- button -->
            <a class="button button--border-radius button--fullwidth"
              >Активувати</a
            >
            <!-- END. button -->
          </div>
        </div>
      </div>
      <!-- END. price-card -->
    </div>

    <div style="display: flex">
      <div style="width: 30%; padding: 20px">
        <!-- price-card -->
        <div class="price-card">
          <div
            class="price-card__image"
            style="background-image: url('./img/30days.png')"
          ></div>
          <div class="price-card__body">
            <p class="price-card__text price-card__text--title">30 днів</p>
            <p class="price-card__text price-card__text--subtitle">215 грн</p>
            <div class="price-card__button-wrapper">
              <!-- button -->
              <a class="button button--border-radius button--fullwidth"
                >Придбати</a
              >
              <!-- END. button -->
            </div>
          </div>
        </div>
        <!-- END. price-card -->
      </div>
      <div style="width: 30%; padding: 20px">
        <!-- price-card -->
        <div class="price-card">
          <div
            class="price-card__image"
            style="background-image: url('./img/365days.png')"
          ></div>
          <div class="price-card__body">
            <p class="price-card__text price-card__text--title">365 днів</p>
            <p class="price-card__text price-card__text--subtitle">
              2010 грн<br />2010 грн
            </p>
            <div class="price-card__button-wrapper">
              <!-- button -->
              <a class="button button--border-radius button--fullwidth"
                >Придбати</a
              >
              <!-- END. button -->
            </div>
          </div>
        </div>
        <!-- END. price-card -->
      </div>
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
