<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />

    <div style="width: 348px; padding: 20px">
      <div data-component="priceCardVariant1"></div>
    </div>

    <div style="display: flex">
      <div style="width: 30%; padding: 20px">
        <div data-component="priceCardVariant2"></div>
      </div>
      <div style="width: 30%; padding: 20px">
        <div data-component="priceCardVariant3"></div>
      </div>
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
