<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />
    <div data-doc-component="getTitle">
      <h1>title</h1>
    </div>

    <div 
      data-component="getTitle"  data-title=""
      data-tag=""
    >
    </div>

    <div data-decorator="doc"></div>
    <div data-component="getTitle" data-title="Основна інформація"></div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getTitle" 
      data-title="Основна інформація"
      data-tag="h2"
    ></div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getTitle" 
      data-title="Основна інформація"
      data-classes="title--weight-normal"
      data-tag="h3"
    ></div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getTitle" 
      data-title="Основна інформація"
      data-tag="h4"
    ></div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getTitle" 
      data-title="Основна інформація"
      data-tag="h5"
    ></div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getTitle" 
      data-title="Основна інформація"
      data-tag="h6"
    ></div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
