.p-course-about {
  padding: 50px;
}

.p-course-about__faq {
  padding-top: 50px;
}

.p-course-about__faq-title {
  padding-bottom: 30px;
  padding-left: 50px;
}

.p-course-about__about-title {
  padding-top: 50px;
  padding-bottom: 20px;
}

.p-course-about__about {
  padding-left: 50px;
}