<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />
    <div data-doc-component="getCourseHeader">
      <h1>course-header</h1>
    </div>

    <div data-decorator="doc"></div>
    <div 
      data-component="getCourseHeader" 
      data-title="Основи HTML + CSS. Створюємо магазин офочів та фруктів."
      data-description="<p>Ми віримо, що кожен здатний бути креативним. 
        Освіта – це місце, де люди мають свій потенціал.</p><p>! Проходити курси можуть тільки люди з активною підпискою.</p>"
      data-href="./pages/one-course/one-course.html"
      data-mainimage="./img/content-shop-course.png"
      data-thingimage="./img/money.png"
    ></div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
