<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-EDDY</title>
    <style>
      body {
        opacity: 0;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <br />

    <div style="width: calc(var(--sidebar-width) * 1.5)">
      <!-- logo -->
      <a class="logo">
        <span class="logo__image" data-icon="logo"> </span>
        <span class="logo__text">hi-eddy</span>
      </a>
      <!-- END. logo -->
    </div>

    <script src="./js/helpers.js"></script>
  </body>
</html>
