.p-one-lesson {
  padding-top: 38px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
}

.p-one-lesson__top-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.p-one-lesson__header {
  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.p-one-lesson__top-button-wrapper {
  padding-right: 20px;
  display: inline-block;
}

.p-one-lesson__content {
  padding-left: 60px;
  padding-right: 50px;
}

.p-one-lesson__content ol {
  list-style: decimal-leading-zero;
  padding-top: 20px;
  padding-left: 20px;
  
}

.p-one-lesson__content ol li {
  font-size: 24px;
}

.p-one-lesson__content ol li p,
.p-one-lesson__content ol li pre {
  font-size: 17px;
}

.p-one-lesson__content h3 {
  font-size: 24px;
  font-weight: 600;
}

.p-one-lesson__card {
  margin-bottom: 35px;
}