<!DOCTYPE html>
<html lang="en">

<head>
  <base href="../../" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="./favicon.png" />
  <title>HI-EDDY</title>
  <style>
    body {
      opacity: 0;
      transition: 0.3s;
    }
  </style>
</head>

<body>
  <br />

  <!-- example -->
  <div class="tariff_card" id="10days-free"> <img class="tariff_card__days_img" src="./img/10days.png">
    <p class="tariff_card__days">10 днів</p>
    <p class="tariff_card__price">Безкоштовно<br>10 діб</p> 
    <button
      class="button button--border-radius">Активувати</button>
  </div>
  <!-- END. example -->

  <!-- <div data-component="exampleVariant1"></div> -->

  <script src="./js/helpers.js"></script>
</body>

</html>