.breadcrumbs {
  font-size: 14px;
}

.breadcrumbs__link {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs__icon svg {
  width: 6px;
  height: auto;
}

.breadcrumbs__icon svg path {
  fill: var(--primary-color);
}